table, th
{
    text-align: center;
}
th
{
	padding: 30px;
}
th:hover
{
	background-color: pink;
}

a:hover
{
	color: grey;
	background-color: underline;
}

td
{
	color: black;
	border-collapse: collapse;
	text-align: center;
	border-color: whitesmoke;
    padding: 10px;
	font-family: Century Gothic;
	font-size: 19px;
}

caption
{
	font-size: 28px;
	font-family: Papyrus;
}

td
{
	font-size: 19px;
}

table, th, tr, a 
{
	color: black;
	text-decoration: none;
}

</style>